# comment's begin with a # and continue to end of line
# First non-comment line must be the full path to the root of the
# local copy of the website.
C:/Full/Path/To/Root/Of/Local/Copy/Of/Website
# Remainder of the file pairs consisting of location to redirect from (relative to root) followed by complete
# url to redirect to (separated by space or tabs), one pair per line.  A from of the form dir/ will create 
# a file dir/index.html while without a trailing slash, such as simply file will create an html file exactly as 
# named (including no extension).  
#
# Example 1: Generates file C:/Full/Path/To/Root/Of/Local/Copy/Of/Website/old/index.html
#   which redirects to the URL http://www.YourNiftyWebsite/new/ 
old/	http://www.YourNiftyWebsite/new/
# Example 2: Generates file C:/Full/Path/To/Root/Of/Local/Copy/Of/Website/anotherOld
#   which redirects to the URL http://www.YourNiftyWebsite/new/ 
#   Note that the lack of trailing slash means that anotherOld will be a file containing
#   html and not a directory containing an html file.
anotherOld	http://www.YourNiftyWebsite/new/
# Example 3: Generates file C:/Full/Path/To/Root/Of/Local/Copy/Of/Website/old.html
#   which redirects to the URL http://www.YourNiftyWebsite/new/ 
old.html	http://www.YourNiftyWebsite/new/
